@page "/install/installing"

@namespace Wabbajack.App.Blazor.Pages

<div id="content">
    <div class="install-background">
        @if (ModlistImage is not null)
        {
            <img id="background-image" src="@ModlistImage" alt=""/>
        }
    </div>
    <div class="list">
        @if (Modlist is not null)
        {
            <div class="left-side">
                <InfoBlock Supertitle="@StatusCategory" Title="@Modlist.Name"/>
                <div class="step-logger">
                    @foreach (var step in StatusStep.Take(3))
                    {
                        <div class="step">@step</div>
                    }
                </div>
            </div>
            <div class="right-side">
                <InfoImage Image="@ModlistImage" Title="Some Mod Title" Subtitle="Author and others" Description="This mod adds something cool but I'm not going to tell you anything."/>
            </div>
        }
    </div>
    <div class="logger-container">
        <VirtualLogger/>
    </div>
</div>

@code {
        public const string Route = "/install/installing";
}
