<div id="info-block">
    @if (Supertitle != string.Empty)
    {
        <span class="supertitle">@Supertitle</span>
    }
    <span class="title">@Title</span>
    <span class="subtitle">@Subtitle</span>
    <span class="comment">@Comment</span>
    <span class="description">@Description</span>
</div>

@code {

    [Parameter]
    public string Supertitle { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Subtitle { get; set; }

    [Parameter]
    public string Comment { get; set; }

    [Parameter]
    public string Description { get; set; }

}
