@page "/configure"
@namespace Wabbajack.App.Blazor.Pages

<div id="content">
    <div class="image" style="background-image: url('@Image');"></div>
    <div class="list">
        @if (Name != string.Empty)
        {
            <InfoBlock Title="@Name" Subtitle="@Author" Comment="@Version.ToString()" Description="@Description"/>
        }
        <div class="modlist-image" style="background-image: url('@Image');"></div>
    </div>
    <div class="settings">
        <div class="locations">
            <div class="labels">
                <span>Target Modlist</span>
                <span>Installation Location</span>
                <span>Download Location</span>
            </div>
            <div class="paths">
                <span class="modlist-file">@ModListPath</span>
                <span class="install-location" @onclick="SelectInstallFolder">@InstallPath</span>
                <span class="download-location" @onclick="SelectDownloadFolder">@DownloadPath</span>

            </div>
        </div>
        <div class="options">
            <label class="option">
                Overwrite Existing Installation
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>

            <label class="option">
                <input type="checkbox">
                <span class="checkmark"></span>
                Enable NTFS Compression
            </label>

            <label class="option">
                <input type="checkbox">
                <span class="checkmark"></span>
                Do a sweet trick once the modlist has finished installing
            </label>

            <label class="option">
                <input type="checkbox">
                <span class="checkmark"></span>
                Something else
            </label>
        </div>
    </div>
    <div class="install" @onclick="NavigateInstall">Install</div>
</div>