@page "/gallery"

@namespace Wabbajack.App.Blazor.Pages

<div id="content">
    <div id="filters">
        <input type="text" class="modlist-search" placeholder="Search">
        <div class="filter-group @(ShowingGameFilter ? "show" : "")">
            <div class="filter-title" @onclick="ToggleGameFilter">
                <span>GAMES</span>
            </div>
            <div class="filter-item-container">
                @foreach (var game in Games)
                {
                    var gameName = game.Game.ToString();
                    UpdateGameFilter(gameName);
                    <div class="filter-item @(GameFilter[gameName].ToString().ToLower())" @onclick="@(() => UpdateGameFilter(gameName, true))">
                        <span>@game.HumanFriendlyGameName</span>
                        <div class="checkmark"></div>
                    </div>
                }
            </div>
        </div>
        <div class="filter-group @(ShowingSourceFilter ? "show" : "")">
            <div class="filter-title" @onclick="ToggleSourceFilter">
                <span>SOURCES</span>
            </div>
            <div class="filter-item-container">
                @foreach (string repo in Repositories)
                {
                    <div class="filter-item @((RepoFilter == repo).ToString().ToLower())" @onclick="@(() => RepoFilter = RepoFilter == repo ? string.Empty : repo)">
                        <span>@repo</span>
                        <div class="checkmark"></div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="modlist-gallery">
        @if (RepoFilter != string.Empty)
        {
            // TODO: Hardcoded for an example, we need a way to get this information. (If we end up using this)
            var repoName = RepoFilter == "wj-featured" ? "Wabbajack" : RepoFilter;
            var repoMaintainers = RepoFilter == "wj-featured" ? "The Wabbajack Team" : "[No Maintainers]";
            var repoDescription = RepoFilter == "wj-featured" ? "Modlists curated by the Wabbajack team, bringing you the best experiences from a bunch of people who spend way too long working on modlists." : "[No Description]";
            var imageURL = RepoFilter == "wj-featured" ? "https://raw.githubusercontent.com/wabbajack-tools/wabbajack/main/Branding/PNGs/Banner_Dark.png" : FilteredModlists.First().Links.ImageUri;
            <div class="source-info">
                <div class="info">
                    <div class="title">@repoName</div>
                    <div class="maintainers">@repoMaintainers</div>
                    <div class="description">@repoDescription</div>
                    <div class="bottom">
                        <div class="modlist-authors">
                            <span>Authors</span>
                            <div class="authors">
                                @foreach (var author in FilteredModlists.Select(x => x.Author).Distinct())
                                {
                                    <span>@author, </span>
                                }
                            </div>
                        </div>
                        <div class="links">
                            <img src="images/icons/socials/patreon.svg" alt="">
                            <img src="images/icons/socials/github.svg" alt="">
                            <img src="images/icons/socials/discord.svg" alt="">
                        </div>
                    </div>
                </div>
                <img class="modlist-image" src="@imageURL" alt="">
            </div>
        }
        <div class="gallery">
            @foreach (var modlist in FilteredModlists)
            {
                @ModlistTileFragment.ModlistTile(modlist)
            }
        </div>
    </div>
</div>

@code {

        public const string Route = "/gallery";
}
